In [1]:
import pandas as pd
import seaborn as sns
sns.set_theme()
import matplotlib.pyplot as plt
from pathlib import Path

In [5]:
train_test = Path("iadh_out/ath_bol_aar/train_test.tsv")
df = pd.read_csv(train_test, sep="\t", header=0, index_col=0)

In [8]:
print(df.shape)
df.head()

(710, 6)

,genome_x,chr_x,genome_y,chr_y,seq_x,seq_y
4052,aar,LG-7,ath,Chr1,TACTCGTCAATATCCTTTACAGCATCCTGTAAAGCACGACACCAAC...,TACTTTGCATCTCTCTTCTCATCATCATCAATATCCTTTATAGCAT...
4070,aar,sc-179,ath,Chr1,TAGTTTCGGGACATGGTTGGTTCAAGCAGCGGAGGCGCAGTCGCAA...,TGGCGTGGTCGTCGGAAACGCCGTCGTATTGCGGCTGGAATGAGCG...
4072,bol,C8,ath,Chr1,CAGGCGCTGTTACTCCTCCGTTTCTTACGGACGTGGTTAGGGTTAT...,CAGGCACTATTACTCCTTCGTTTCTTACGGACATGGTTTGGTTCGT...
4083,bol,C9,ath,Chr1,TGATATCGTGGCTGATGACTATCAAGGCGGTGCTAATATCTACCGG...,TGCAGATTGAGATTGACCATCTTAACAATGAGCATCTTGAATCTGT...
4088,aar,sc-136,ath,Chr1,TGGGAGATGAAGATAAATTGCTACCAATAGCAAATGTAGGAAGAAT...,TGGGGGCCAAAAGCAAAAGTTCGAGTACGAGATTTTTTATGTTTTA...